body {
  background-color: gray; /* цвет фона */
  margin: 0; /* сбрасываем отступы по умолчанию */
  padding: 0;
}
p {
  position: absolute; /* отображает элемент, независимо от остальных */
  top: 50%; /* расположение по центру экрана */
  left: 50%;
  margin-top: -150px; /* отступ от верхнего края */
  margin-left: -250px; /* отступ от левого края */
  background-color: yellow; /* цвет фона жёлтый */
  color: red; /* цвет текста красный */
  font-size: 50px; /* размер шрифта */
}